@import "../menu/menu.css";

// Define the color variables
$darkBlue: #003366;
$lightBlue: #66ccff;
$black: #000;
$white: #fff;

// Apply the styles to the table
.div-table {
  background-color: $black;
  color: $white;
  padding: 20px;

  table {
    width: 100%;

    th, td {
      padding: 10px;
    }

    th {
      background-color: $darkBlue;
    }

    tr:nth-child(even) {
      background-color: $lightBlue;
    }

    tr:nth-child(odd) {
      background-color: $darkBlue;
    }
  }
}
