@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/*Style Ogólne*/
* {

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: rgb(39, 39, 39);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
/*Style Menu*/
.navMenu {
  position: absolute;
  top: 45px;
  right: 1%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

header {
  background-color: rgba(25,25, 25, 1);
}

.title {
  position: relative;
  left: 20px;
  top: 0px;
  display: inline-block;
  font-size: 30px;
  color: #ffffff;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform:uppercase;
  font-weight: 500;
  display: inline-block;
  width: 150px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}
/*Style Tabeli*/

.article-inside {
  list-style: none;
  display: in;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}