@import "../menu/menu.css";

 .contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    &:focus {
      border-color: #007bff;
    }
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }

  span {
    color: #ff0000;
  }
}

.popup {
  display: none;
  position: relative;
  top: 2vh;
  margin: 0 auto;
  width: 50vh;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  animation: glowing 2s ease-in-out infinite;
  p {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }
  button#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #ff0000;
  }
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #ff0000, 0 0 20px #ff0000;
  }

  50% {
    box-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000;
  }

  100% {
    box-shadow: 0 0 5px #ff0000, 0 0 20px #ff0000;
  }
}
.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
  padding: 40px;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
  h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .contact-details {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
      margin-top: 0;
      margin-left: 40px;
      flex-direction: row;
    }
    .contact-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      @media only screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 40px;
      }
      i {
        font-size: 24px;
        margin-right: 10px;
      }
      span {
        font-size: 18px;
      }
      &:hover {
        transform: translateY(-3px);
        transition: transform 0.2s;
      }
    }
  }
}